.*
*,v
*.dat
*.dep
*.eps
*.lib
*.mat
*.mex*
*.o
*.pyc
*.tar.gz
*.tgz
*.class
*CVS*
*~
*.DS_Store
*.bin
._*
.emacs.desktop
.metadata*
/swish-cgi.pl
BasFiles
cfiles/fltk*
cfiles/gigabyte-fancontrol/module/eclog*
libsvm*
matfiles/toolboxes*
packages*
pddl*
workspace
thirdparty/spider
thirdparty/KFDDA
thirdparty/lda
cfiles/eeepc-linux/acpi-info
mmmcode
mpicode
*.log
*.svn*
D
D
.svn/*
matlab/brainfly/AUC.pdf
matlab/brainfly/ERSP.pdf
matlab/brainfly/saveaspdf.pdf
matlab/offline/AUC.pdf
matlab/offline/ERP.pdf
matlab/offline/ERSP.pdf
