[select]
1=Fp1
2=Fp2
3=F3
4=Fz
5=F4
6=C3
7=Cz
8=C4
9=P3
10=Pz
11=P4
12=POz
13=TP9
14=TP10
15=EMG1
16=EMG2
17=DIG
#34=SAW


# Now we add some more channel for saving only
[save]
# And some channels we only want to stream
[stream]

# Please take note that the channels will be written out in the order specified here,
# that is, they will not be sorted according to the hardware channel number!

# Write "downsample X" with a positive number X to set the downsampling
# factor for streaming. The GDF file will receive full-rate data.
downsample=1

# Write "bandwidth X" with a positive real number X to set the cutoff frequency
# of a Butterworth low-pass filter.
bandwidth=256

# Write "bworder N" to set the order of the lowpass Butterworth filter for downsampling (0 means no filtering/decimation)
bworder=4

# Refresh period (in seconds) for inserting extra events. 
# Battery events are sent out in a fixed interval (set 0 to disable).
# Status events are sent out when the status changes, OR when the specified
# time has elapsed after the last event was sent out.
statusrefresh=4
batteryrefresh=20

splittrigger=stimulus,response

