 # comments start with a hash
; ... or with a semicolon
; empty lines are fine as well

# Biosemi Active2 specific channel information
# channel numbers for the different type groups are fixed:  
# 1-256:   EEG
# 257-264: EXG
# 265-27:  JAZZ 
# 274-280: AUX
# 281-312: AIB

# Write n=label to select hardware channel number n (starting from 1)
# and attach a label to it. This will show up in the Fieldtrip buffer
# and the GDF file.
# Currently, there is no check for double inclusion of channels.
# That is, if you define 1=FOO and 1=BAR, the first hardware channel
# will show up twice, with different names.
# Channels listed before the first [save] or [stream] line will be added
# to both saving and streaming selections. Write [select] to enable 
# selection for both saving and streaming.

[select]
257=AF3
258=F3
259=FC5
260=P7
261=P8
262=FC6
263=F4
264=AF4

# Now we add some more channel for saving only
[save]
# And some channels we only want to stream
[stream]

# Please take note that the channels will be written out in the order specified here,
# that is, they will not be sorted according to the hardware channel number!

# Write "downsample X" with a positive number X to set the downsampling
# factor for streaming. The GDF file will receive full-rate data.
downsample=1

# Write "bandwidth X" with a positive real number X to set the cutoff frequency
# of a Butterworth low-pass filter.
bandwidth=1024

# Write "bworder N" to set the order of the lowpass Butterworth filter for downsampling (0 means no filtering/decimation)
bworder=0

# Refresh period (in seconds) for inserting extra events. 
# Battery events are sent out in a fixed interval (set 0 to disable).
# Status events are sent out when the status changes, OR when the specified
# time has elapsed after the last event was sent out.
statusrefresh=4
batteryrefresh=20

splittrigger=stimulus,response
